header{
    background-color: black;
    border-radius: 5px;
}

.solution{
    text-align: justify;
}

.block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu{
    list-style: none;
    padding: 10px;
}

.item{
    display: inline-block;
}

.a{
    text-decoration: none;
    color:white;
}

a:hover{
    color:orange;
}

.box{
    width: 90%;
    margin: 0 auto;
}